<body>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-sm-6 p-3 rounded shadow">
                <form (ngSubmit)="login()">
                    <h1 id="loginFormTitle">Inicio de Sesión</h1>
                    <input type="email" class="form-control my-input" name="email" [(ngModel)]="email"
                        placeholder="Correo electrónico" required>
                    <input type="password" class="form-control my-input" name="password" [(ngModel)]="password"
                        placeholder="Contraseña" required>
                    <button type="submit" class="my-button btn btn-primary col-sm-4 mt-3">Iniciar sesión</button>                    
                    <button class="my-button btn btn-primary col-sm-4 mt-3" [routerLink]="['/register']">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</body>